body {
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
}
table {
    font-size: 0.8em;
}
tr:nth-of-type(even) {
    background: rgba(240,235,235,0.4);
}
td {
    vertical-align: top;
    line-height: 1.2em;
}
tr.restaurant > td {
    padding-top: 1em;
    padding-bottom:1em;
}
td.restaurant_name {
    max-width:10%;
}
td.menu {
    width:18%;
    max-width:18%;
    text-transform: lowercase;
    color: #a0a0a0;
}
td.menu p {
    margin-left:1%;
}
td.menu p:first-letter {
    text-transform: uppercase;
}
tr.days, td.restaurant_name{
    font-weight: bold;
}
td.active {
    color: #000;
}
h1 {
    width: 100%;
    border-bottom: 1px solid black;
    font-size:0.6em;
    text-transform: uppercase;
    margin-bottom: 5em;
}