body {
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

table {
    font-size: 0.8em;
}
tr:nth-of-type(even) {
    background: rgba(240,235,235,0.4);
}
td {
    vertical-align: top;
    line-height: 1.2em;
}
tr.restaurant > td {
    padding-top: 1em;
    padding-bottom:1em;
}
td.restaurant_name {
    max-width:10%;
}
td.menu {
    width:18%;
    max-width:18%;
    text-transform: lowercase;
    color: #a0a0a0;
}
td.menu p {
    margin-left:1%;
}
td.menu p:first-letter {
    text-transform: uppercase;
}
tr.days, td.restaurant_name{
    font-weight: bold;
}
td.active {
    color: #000;
}
h1 {
    width: 100%;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.well{
    font-size: 0.8em;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;

    box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
}

.well blockquote{
    border-color: #ddd;
    border-color: rgba(0,0,0,.15)
}


.bg-warning {
    background-color: #fcf8e3
}

a.bg-warning:hover {
    background-color: #f7ecb5
}

a.github-button {
	padding-right: 15px;
	padding-left: 0;
	text-align: right;
	border-right: 5px solid #eee;
	border-left: 0
}